/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
embed,
iframe,
object,
audio,
video {
  height: auto;
  max-width: 100%;
}
iframe {
  border: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
  text-align: left;
}
@font-face {
  font-family: "PINGFANGEXTRALIGHT";
  src: url("../../font/PINGFANGHEAVY.TTF");
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
body {
  position: relative;
}
.wrap {
  padding: 0 30px;
  width: 100%;
  height: 100%;
}
header {
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 22px;
  color: #333333;
  border-bottom: 1px solid #eeeeee;
  font-weight: bold;
  overflow: hidden;
  font-family: "PINGFANGEXTRALIGHT";
}
header::after {
  content: "Personnel management";
  text-transform: Uppercase;
  display: inline-block;
  font-size: 38px;
  color: #999999;
  opacity: 0.2;
  text-indent: -74px;
}
section .top1 {
  overflow: hidden;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
  margin-top: 30px;
}
section .top1 span {
  margin-left: 30px;
  float: left;
}
section .top1 span:first-of-type {
  margin-left: 0;
}
section .top1 select {
  vertical-align: middle;
  height: 30px;
  margin-left: 5px;
  float: left;
}
section .top1 select.alleqi {
  float: right;
}
section .top1 input {
  height: 30px;
  width: 65px;
  color: #ffffff;
  background: -webkit-linear-gradient(90deg, #1ea0e3, #32b5ee, #35bcf0);
  border: none;
  margin-left: 5px;
  outline: none;
  float: left;
}
section .top1 input.sbname {
  background: none;
  border: solid 1px #d7d7d7;
  width: 130px;
  color: #333333;
}
section .top1 input.seach {
  margin-left: 30px;
}
section .top2 {
  margin-top: 30px;
  overflow: hidden;
}
section .top2 input {
  border: 1px solid #d7d7d7;
  background: none;
  width: 65px;
  height: 30px;
  margin-left: 15px;
  float: left;
}
section .top2 input:first-of-type {
  margin-left: 0;
}
section .top2 input:hover {
  color: #19a8fb;
  border: solid 1px #19a8fb;
}
section .tables {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
  font-family: "PINGFANGEXTRALIGHT";
}
section .tables .titles li {
  background: #edeff1;
}
section .tables .titles,
section .tables .tableContent {
  color: #333333;
  font-size: 12px;
}
section .tables .titles li,
section .tables .tableContent li {
  line-height: 43px;
  white-space: nowrap;
  width: 100%;
  min-width: 1300px;
  overflow: hidden;
}
section .tables .titles li:nth-of-type(even),
section .tables .tableContent li:nth-of-type(even) {
  background: #f5f9fc;
}
section .tables .titles li span,
section .tables .tableContent li span {
  margin-left: 10px;
  display: inline-block;
  text-align: left;
  float: left;
  width: 130px;
}
section .tables .titles li span:first-of-type,
section .tables .tableContent li span:first-of-type {
  margin-left: 0;
  width: 100px;
}
section .tables .titles li span:first-of-type input,
section .tables .tableContent li span:first-of-type input {
  vertical-align: -2px;
  margin: 10px;
}
section .tables .titles li span:nth-of-type(2),
section .tables .tableContent li span:nth-of-type(2) {
  width: 200px;
}
section .tables .titles li span:nth-of-type(3),
section .tables .tableContent li span:nth-of-type(3) {
  width: 150px;
}
section .tables .titles li span:nth-of-type(4),
section .tables .tableContent li span:nth-of-type(4) {
  width: 180px;
}
section .tables .titles li span:nth-of-type(8),
section .tables .tableContent li span:nth-of-type(8) {
  width: 150px;
}
section .tables .titles li span:nth-of-type(9),
section .tables .tableContent li span:nth-of-type(9) {
  width: 150px;
}
section .tables .titles li span:nth-of-type(10),
section .tables .tableContent li span:nth-of-type(10) {
  width: 150px;
}
section .tables .titles li span:last-of-type a,
section .tables .tableContent li span:last-of-type a {
  display: inline-block;
}
section .tables .titles li span:last-of-type a:last-of-type,
section .tables .tableContent li span:last-of-type a:last-of-type {
  padding: 0 10px;
}
section .tables .tableContent li span {
  display: inline-block;
}
section .tables .tableContent li:hover {
  background: #d0eeff;
}
section .tables .tableContent li .mod:hover {
  color: #34b7ef;
}
section .tables .tableContent li .del:hover {
  color: #e74040;
}
section .menu-bottom-wrap {
  overflow: hidden;
  margin-top: 30px;
}
section .menu-bottom-wrap .menu-bototm {
  float: right;
  text-align: center;
  font-size: 0;
  color: #666666;
}
section .menu-bottom-wrap .menu-bototm input {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  vertical-align: bottom;
  background: none;
  outline: none;
  border: solid 1px #d7d7d7;
  color: #666666;
}
section .menu-bottom-wrap .menu-bototm input.basic_prev {
  width: 60px;
}
section .menu-bottom-wrap .menu-bototm input.basic_next {
  width: 60px;
}
section .menu-bottom-wrap .menu-bototm .pageIndex a {
  margin-left: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: solid 1px #eeeeee;
  text-align: center;
  line-height: 40px;
  font-size: 14px;
}
section .menu-bottom-wrap .menu-bototm .pageIndex a:first-of-type {
  background: -webkit-linear-gradient(90deg, #1ea0e3, #32b5ee, #35bcf0);
  color: #ffffff;
}
.tan-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1111;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
}
.tan-wrap .basic-mod {
  display: none;
  position: absolute;
  width: 960px;
  height: 517px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -258px;
  z-index: 11112;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
}
.tan-wrap .basic-mod .basic-mod-top {
  padding: 30px;
}
.tan-wrap .basic-mod .basic-mod-top .basic-mod-title {
  color: #19a8fb;
}
.tan-wrap .basic-mod .basic-mod-top ul {
  width: 100%;
  overflow: hidden;
}
.tan-wrap .basic-mod .basic-mod-top ul li {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.tan-wrap .basic-mod .basic-mod-top ul li select {
  margin-top: 14px;
  width: 420px;
  height: 35px;
}
.tan-wrap .basic-mod .basic-mod-top ul li input {
  width: 420px;
  height: 35px;
  margin-top: 14px;
}
.tan-wrap .basic-mod .basic-mod-top ul li.projectList {
  width: 100%;
}
.tan-wrap .basic-mod .basic-mod-top ul li div.projectNameList {
  width: 100%;
  height: 52px;
}
.tan-wrap .basic-mod .basic-mod-top ul li div.projectNameList input {
  width: 20px;
  height: 20px;
  font-size: 10px;
  vertical-align: -5px;
  margin-left: 20px;
}
.tan-wrap .basic-mod .basic-mod-top ul li div.projectNameList input:first-of-type {
  margin-left: 0;
  font-size: 0;
}
.tan-wrap .basic-mod .basic-mod-top ul li.mod-projectList {
  width: 100%;
}
.tan-wrap .basic-mod .basic-mod-top ul li.mod-projectList .mod-projectNameList input {
  width: 20px;
  vertical-align: -13px;
  margin-left: 10px;
  margin-right: 5px;
}
.tan-wrap .basic-mod .basic-mod-top ul li.mod-projectList .mod-projectNameList input:first-of-type {
  margin-left: 0;
}
.tan-wrap .basic-mod .basic_mod_bottom {
  overflow: hidden;
  margin-top: 25px;
  border-top: 1px solid #eeeeee;
}
.tan-wrap .basic-mod .basic_mod_bottom input {
  float: left;
  width: 50%;
  border: none;
  background: none;
  height: 50px;
  outline: none;
  border-left: #eeeeee solid 1px;
}
.tan-wrap .basic-mod .basic_mod_bottom input:first-of-type {
  color: #1ea0e3;
}
.tan-wrap .basic-add {
  display: none;
  position: absolute;
  width: 960px;
  height: 600px;
  left: 50%;
  top: 50%;
  margin-left: -480px;
  margin-top: -261px;
  z-index: 11112;
  background-color: #ffffff;
}
.tan-wrap .basic-add .basic-add-top {
  padding: 30px;
}
.tan-wrap .basic-add .basic-add-top ul {
  width: 100%;
  overflow: hidden;
}
.tan-wrap .basic-add .basic-add-top ul li {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.tan-wrap .basic-add .basic-add-top ul li select {
  margin-top: 14px;
  width: 420px;
  height: 35px;
}
.tan-wrap .basic-add .basic-add-top ul li input {
  width: 420px;
  height: 35px;
  margin-top: 14px;
}
.tan-wrap .basic-add .basic-add-top ul li.projectList {
  width: 100%;
}
.tan-wrap .basic-add .basic-add-top ul li div.projectNameList {
  width: 100%;
  height: 52px;
}
.tan-wrap .basic-add .basic-add-top ul li div.projectNameList input {
  width: 20px;
  height: 20px;
  font-size: 10px;
  vertical-align: -5px;
  margin-left: 20px;
}
.tan-wrap .basic-add .basic-add-top ul li div.projectNameList input:first-of-type {
  margin-left: 0;
  font-size: 0;
}
.tan-wrap .basic-add .basic-add-bottom {
  overflow: hidden;
  margin-top: 15px;
  border-top: 1px solid #eeeeee;
}
.tan-wrap .basic-add .basic-add-bottom input {
  float: left;
  width: 50%;
  border: none;
  background: none;
  height: 50px;
  outline: none;
  border-left: #eeeeee solid 1px;
}
.tan-wrap .basic-add .basic-add-bottom input:first-of-type {
  color: #1ea0e3;
}
.tan-wrap .basic-del {
  display: none;
  overflow: hidden;
  box-shadow: 5px 5px 15px rgba(51, 51, 51, 0.2);
  border-radius: 5px;
  position: absolute;
  width: 350px;
  height: 170px;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -85px;
  z-index: 11112;
  background-color: #ffffff;
}
.tan-wrap .basic-del .basic-del-top {
  text-align: center;
  padding: 60px;
  padding-bottom: 0px;
}
.tan-wrap .basic-del .basic-del-top ul {
  width: 100%;
  overflow: hidden;
}
.tan-wrap .basic-del .basic-del-top ul li {
  width: 50%;
  float: left;
  margin-top: 20px;
}
.tan-wrap .basic-del .basic-del-top ul li select {
  margin-top: 14px;
  width: 440px;
  height: 35px;
}
.tan-wrap .basic-del .basic-del-top ul li input {
  width: 440px;
  height: 35px;
  margin-top: 14px;
}
.tan-wrap .basic-del .basic-del-bottom {
  overflow: hidden;
  margin-top: 38px;
  border-top: 1px solid #eeeeee;
}
.tan-wrap .basic-del .basic-del-bottom input {
  float: left;
  width: 50%;
  border: none;
  background: none;
  height: 50px;
  outline: none;
  border-left: #eeeeee solid 1px;
}
.tan-wrap .basic-del .basic-del-bottom input:first-of-type {
  color: #1ea0e3;
}
