<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/basic.css">
    <script src="./js/laydate/laydate.js"></script>
</head>

<body>
    <div class="tan-wrap" id="tan_wrap">
        <div class="basic-mod" id="basic_mod">
            <div class="basic-mod-top">
                <p class="basic-mod-title">修改信息</p>
                <p class="basic-mod-name">项目名称</p>
                <select class="updaproName" name="" id="updaproName">
                </select>
                <p>设备系统：</p>
                <select class="updaequi" name="" id="updaequi">
                </select>
                <p>设备名称：</p>
                <input type="text" name="" id="updateName">
                <p>设备编码：</p>
                <input type="text" name="" id="updatecode">
                <p>设备序号：</p>
                <input type="text" name="" id="updateId">
                <p>安装位置：</p>
                <input type="text" name="" id="updateAddress">
            </div>
            <div class="basic_mod_bottom">
                <input type="button" id="basic_mod_yes" value="确定">
                <input type="button" id="basic_mod_no" value="取消">
            </div>
        </div>
        <div class="basic-add" id="basic_add">
            <div class="basic-add-top">
                <p class="basic-add-title">新增信息</p>
                <ul>
                    <li>
                        <p>项目名称：</p>
                        <select class="projectNameAdd" name="" id="projectNameAdd">

                        </select>
                    </li>
                    <li>
                        <p>系统设备：</p>
                        <select class="typeAdd" name="" id="typeAdd">

                        </select>
                    </li>
                    <li>
                        <p>设备名称：</p>
                        <input type="text" id="nameAdd">
                    </li>
                    <li>
                        <p>设备编码：</p>
                        <input type="text" id="codeAdd">
                    </li>
                    <li>
                        <p>设备序号：</p>
                        <input type="text" id="idAdd">
                    </li>
                    <li>
                        <p>厂商：</p>
                        <input type="text" id="manufacturerAdd">
                    </li>
                    <li>
                        <p>安装日期：</p>
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="makeTimeAdd" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </li>
                    <li>
                        <p>使用日期：</p>
                        <!-- <input type="text" id="useTimeAdd"> -->
                        <div class="layui-input-inline">
                            <input type="text" class="layui-input" id="useTimeAdd" placeholder="yyyy-MM-dd HH:mm:ss">
                        </div>
                    </li>
                </ul>
            </div>
            <div class="basic-add-bottom">
                <input type="button" id="basic_add_yes" value="确定">
                <input type="button" id="basic_add_no" value="取消">
            </div>
        </div>
        <div class="basic-del" id="basic_del">
            <div class="basic-del-top">
                <p class="basic-del-title">确定执行此操作？</p>
            </div>
            <div class="basic-del-bottom">
                <input type="button" id="basic_del_yes" value="确定">
                <input type="button" id="basic_del_no" value="取消">
            </div>
        </div>
    </div>
    <div class="wrap">
        <header>
            设备基本信息
        </header>
        <section>
            <div class="top1">
                <span>项目名称</span>
                <select class="projectName">
                </select>
                <span>设备系统</span>
                <select class="equi">
                </select>
                <span>设备名称</span>
                <input class="sbname" type="text" placeholder="请输入设备名称">
                <input id="seach" type="button" value="查询">
                <select class="alleqi">
                    <option value="">图表模式</option>
                    <option value="">地图模式</option>
                </select>
            </div>
            <div class="top2">
                <!-- <input type="button" value="修改"> -->
                <input type="button" id="newAdd" value="新增">
                <input id="delall" type="button" value="删除">
                <input type="button" id="exportExcel" value="导出">
            </div>
            <div class="tables">
                <ul class="titles">
                    <li>
                        <span>
                            <input type="checkbox" name="" id="title_checkbox">序号</span>
                        <span>项目名称</span>
                        <span>设备系统</span>
                        <span>设备名称</span>
                        <span>设备序号</span>
                        <span>设备编码</span>
                        <span>设备安装位置</span>
                        <span>设备厂商</span>
                        <span>出厂时间</span>
                        <span>使用时间</span>
                        <span>操作</span>
                    </li>
                </ul>
                <ul class="tableContent" id="tableContent">
                    <li key="1">
                        <span>
                            <input type="checkbox" name="xz" id="">1
                        </span>
                        <span>潼湖小镇</span>
                        <span>水质检测系统</span>
                        <span>A区水质检测设备</span>
                        <span>01</span>
                        <span>THXZ-01-01</span>
                        <span>住宅A区</span>
                        <span>昆特</span>
                        <span>2018-03-20</span>
                        <span>2018-03-20</span>
                        <span>
                            <a class="amend">修改</a>
                            <a class="delete">删除</a>
                        </span>
                    </li>
                    <li key="2">
                        <span>
                            <input type="checkbox" name="xz" id="">1
                        </span>
                        <span>潼湖小镇</span>
                        <span>水质检测系统</span>
                        <span>A区水质检测设备</span>
                        <span>01</span>
                        <span>THXZ-01-01</span>
                        <span>住宅A区</span>
                        <span>昆特</span>
                        <span>2018-03-20</span>
                        <span>2018-03-20</span>
                        <span>
                            <a class="amend">修改</a>
                            <a class="delete">删除</a>
                        </span>
                    </li>
                    <li key="3">
                        <span>
                            <input type="checkbox" name="xz" id="">1
                        </span>
                        <span>潼湖小镇</span>
                        <span>水质检测系统</span>
                        <span>A区水质检测设备</span>
                        <span>01</span>
                        <span>THXZ-01-01</span>
                        <span>住宅A区</span>
                        <span>昆特</span>
                        <span>2018-03-20</span>
                        <span>2018-03-20</span>
                        <span>
                            <a class="amend">修改</a>
                            <a class="delete">删除</a>
                        </span>
                    </li>
                    <li key="4">
                        <span>
                            <input type="checkbox" name="xz" id="">1
                        </span>
                        <span>潼湖小镇</span>
                        <span>水质检测系统</span>
                        <span>A区水质检测设备</span>
                        <span>01</span>
                        <span>THXZ-01-01</span>
                        <span>住宅A区</span>
                        <span>昆特</span>
                        <span>2018-03-20</span>
                        <span>2018-03-20</span>
                        <span>
                            <a class="amend">修改</a>
                            <a class="delete">删除</a>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom-wrap">
                <div class="menu-bototm">
                    <input type="button" key="1" class="basic-first" id="basic_first" value="首页">
                    <input type="button" id="basic_prev" class="basic_prev" value="上一页">
                    <span class="pageIndex" id="pageIndex"></span>
                    <input type="button" id="basic_next" class="basic_next" value="下一页">
                    <input type="button" id="basic_end" value="末页">
                </div>
            </div>

        </section>
    </div>
    <script src="../js/common.js"></script>
    <script src="./js/basic.js"></script>

</body>

</html>