<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/operationReport.css">
</head>

<body>
    <div class="wrap">
        <header>
            设备运行报表
        </header>
        <section>
            <div class="top1">
                <span>项目名称</span>
                <select class="projectName">
                </select>
                <span>设备系统</span>
                <select class="equi">
                </select>
                <span>设备名称</span>
                <input class="sbname" type="text" placeholder="请输入设备名称">
                <input id="seach" type="button" value="查询">
                <input type="button" id="exportExcel" class="exportExcel" value="导出">
            </div>
            <div class="tables">
                <ul class="titles">
                    <li>
                        <span>
                            <input type="checkbox" name="" id="">序号</span>
                        <span>时间</span>
                        <span>项目名称</span>
                        <span>设备系统</span>
                        <span>设备名称</span>
                        <span>设备编码</span>
                        <span>设备安装位置</span>
                        <span>设备故障次数</span>
                        <span>处理责任人</span>
                    </li>
                </ul>
                <ul class="tableContent" id="tableContent">
                    <li>
                        <span>
                            <input type="checkbox" name="" id="">1
                        </span>
                        <span>2018-06-12 14:22:55</span>
                        <span>潼湖小镇</span>
                        <span>水质监测系统</span>
                        <span>A区水质监测设备</span>
                        <span>THXZ-01-01</span>
                        <span>住宅A去</span>
                        <span>0</span>
                        <span>王大大</span>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom-wrap">
                <div class="menu-bototm">
                    <input type="button" class="basic-first" id="basic_first" value="首页">
                    <input type="button" id="basic_prev" class="basic_prev" value="上一页">
                    <span class="pageIndex" id="pageIndex"></span>
                    <input type="button" id="basic_next" class="basic_next" value="下一页">
                    <input type="button" id="basic_end" value="末页">
                </div>
            </div>

        </section>
    </div>
    <script src="../js/common.js"></script>
    <script src="./js/operationReport.js"></script>
</body>

</html>