<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/echarts.min.js"></script>
    <link rel="stylesheet" href="./css/waterDepth.css">
    <script src="./js/laydate/laydate.js"></script>
</head>

<body>
    <div class="wrap">
        <header>
            水浸监测
        </header>
        <section>
            <div class="top1">
                <span>项目名称</span>
                <select class="projectName">
                </select>
                <span class="sbnamen">设备名称</span>
                <select name="" class="sbname" id="">
                    <option value="">选择设备名称</option>
                </select>
                <input id="seach" class="seach" type="button" value="查询">
            </div>
            <div class="top2">
                <div class="top2_left" id="top2_left">
                    <input name="1" data-id="depth" checked type="radio">
                    <label>水位高度</label>
                </div>
                <div class="main" id="main" style="width: 1200px;height:600px;"></div>
                <div class="message" id="message"></div>
            </div>
        </section>
    </div>
    <script src="../js/common.js"></script>
    <script src="./js/waterDepth.js"></script>

</body>

</html>