<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <link rel="stylesheet" href="./css/weatherData.css">
    <script src="./js/laydate/laydate.js"></script>
</head>

<body>
    <div class="wrap">
        <header>
            气象数据报表
        </header>
        <section>
            <div class="top1">
                <span>项目名称</span>
                <select class="projectName">
                </select>
                <span class="sbnamen">设备名称</span>
                <select name="" class="sbname" id=""></select>
                <span>选择周期</span>
                <span class="m10 ml30">时间</span>
                <input type="text" class="demo-input date m0" placeholder="请选择日期" id="failuredata1">
                <span class="m10">至</span>
                <input type="text" class="demo-input date m0" placeholder="请选择日期" id="failuredata2">
                <input id="seach" class="seach" type="button" value="查询">
                <!-- <input class="exportExcel" type="button" id="exportExcel" value="导出"> -->
            </div>
            <div class="top2">
                <input class="exportExcel" type="button" id="exportExcel" value="导出">                
            </div>
            <div class="tables">
                <ul class="titles">
                    <li>
                        <span>序号</span>
                        <span>时间</span>
                        <span>温度(°C)</span>
                        <span>湿度(%)</span>
                        <span>气压(Pa)</span>
                        <span>风向</span>
                        <span>风力</span>
                        <span>降雨量</span>
                    </li>
                </ul>
                <ul class="tableContent" id="tableContent">
                    <li>
                        <span>&nbsp;</span>
                    </li>
                    <li>
                        <span>&nbsp;</span>
                    </li>
                    <li>
                        <span>&nbsp;</span>
                    </li>
                    <li>
                        <span>&nbsp;</span>
                    </li>
                </ul>
            </div>
            <div class="menu-bottom-wrap">
                <div class="menu-bototm">
                    <input type="button" key="1" class="basic-first" id="basic_first" value="首页">
                    <input type="button" id="basic_prev" class="basic_prev" value="上一页">
                    <span class="pageIndex" id="pageIndex"></span>
                    <input type="button" id="basic_next" class="basic_next" value="下一页">
                    <input type="button" id="basic_end" value="末页">
                </div>
            </div>

        </section>
    </div>
    <script src="../js/common.js"></script>
    <script src="./js/weatherData.js"></script>

</body>

</html>