<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/echarts.min.js"></script>
    <link rel="stylesheet" href="./css/weather.css">
    <script src="./js/laydate/laydate.js"></script>
</head>

<body>
    <div class="wrap">
        <header>
            气象监测
        </header>
        <section>
            <div class="top1">
                <span>项目名称</span>
                <select class="projectName">
                </select>
                <span class="sbnamen">设备名称</span>
                <select name="" class="sbname" id="">
                    <option value="">选择设备名称</option>
                </select>
                <input id="seach" class="seachNo" type="button" disabled="disabled" value="查询">
            </div>
            <div class="top2">
                <div class="top2_left" id="top2_left">
                    <input id="temp_radio" name="1" data-id="temp" checked type="radio">
                    <label>温度</label>
                    <input name="1" data-id="humidity" type="radio">
                    <label>湿度</label>
                    <input name="1" data-id="pressure" type="radio">
                    <label>气压</label>
                    <input name="1" data-id="rain" type="radio">
                    <label>降雨量</label>
                    <input name="1" data-id="wind" type="radio">
                    <label>风力风向</label>
                </div>

                <div class="main" id="main" style="width: 80%;height:90%;"></div>
                <div class="message" id="message">
                </div>
            </div>
        </section>
    </div>
    <script src="../js/common.js"></script>
    <script src="./js/weather.js"></script>

</body>

</html>